{% extends 'my_vocab/base.html' %}

{% block content %}
  {% if error %}
    <div class="alert alert-warning">
      <strong>Error!</strong> {{error}}
    </div>
  {% endif %}

<h1>Login</h1>
  <form method="POST" action="/login">
  	{% csrf_token %}
  	<div class="form-group">
  		<label>Userame:</label>
  		<input type="text" name="username" class="form-control" placeholder="Display name">
  		<label>Password:</label>
  		<input type="password" name="password" class="form-control" placeholder="Password">
  	</div>
  	<input type="submit" value="Log In" class="btn btn-success">
  </form>

{% endblock %}